trunk/src/Plugins/Dunn.TreeTrim.7ZipPlugin/7ZipPlugin.settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Settings">
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="1" minOccurs="1" name="PathTo7ZipBinary" type="xs:string" />
                <xs:element maxOccurs="1" minOccurs="0" name="WriteTo" type="xs:string" />
                <xs:element maxOccurs="1" minOccurs="0" name="Password" type="xs:string" />
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>